@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body{
    background-color: #f5efeb;
}

header{
    background-color: #f2aaae;
    padding: 20px;
}

h1{
    text-align: center;
    font-family: Nerko One;
    font-size: 50px;
}

nav{
    background-color: #d0aad1;
    padding: 15px;
    text-align: center;
    float: left;
    width:15%;
    height: 100vh;
    position: sticky;
    top: 10px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: block;
    margin: 15px;
}

nav ul li a{
    text-decoration: none;
    color: #162a40;
    font-size: 1.5em;
    transition: color o.3s ease;
}

nav ul li a:hover{
    color: #c0d3e4;
}

table{
    width: 100;
    background-color: white;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

th{
    text-align: left;
}

h2{
    text-align: left;
    margin: 10px 10px;
    font-family: SUSE;
}

video{
    width: 425px;
    height: auto;
}

.about-me{
    margin-left: 220px;
    padding: 20px;
}
h3{
    margin: 10px 10px;
    font-size: 25px;
    font-family: SUSE;
}

.hobby{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.music{
    margin: 10px 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

h4{
    margin: 10px 10px;
    font-size: 25px;
    font-family: SUSE;
    
} 

.activities{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 220px;
    padding: 20px;
}

.supernova{
    margin: 10px 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.meet{
    margin: 10px 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

h5{
    margin-bottom: 1px;
    font-size: 25px;
    font-family: SUSE;
    margin-left: 230px;
    padding: 20px;
}

.dairy{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 230px;
    padding: 20px;
}

.game{
    margin-top: 0px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    margin-left: 230px;
    padding: 20px;
}

.image{
    width: 250px; 
    height: 200px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.text{
    margin-left: 15px;
    color: #2f4156;
    font-family: SUSE;
    font-size: 20px;
    margin-bottom: 10px;
}

.blue-text{
    color: #567c8d;
}
